In [1]:
import pandas as pd
import numpy as np

In [2]:
matches = pd.read_csv("C:\\Users\\isabo\\Downloads\\England_22_23.csv", index_col=0)

In [3]:
matches.head()

,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
Div,,,,,,,,,,,,,,,,,,,,,
E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,A,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,H,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,H,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
E0,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,1,D,...,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,D,...,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86

In [4]:
matches.shape

(380, 105)

In [5]:
matches["HomeTeam"].value_counts()

HomeTeam
Crystal Palace    19
Fulham            19
Chelsea           19
Nott'm Forest     19
Brentford         19
Wolves            19
Southampton       19
Man City          19
Brighton          19
Arsenal           19
Aston Villa       19
West Ham          19
Man United        19
Leicester         19
Everton           19
Tottenham         19
Newcastle         19
Leeds             19
Bournemouth       19
Liverpool         19
Name: count, dtype: int64

In [6]:
matches["AwayTeam"].value_counts()

AwayTeam
Arsenal           19
Liverpool         19
Tottenham         19
West Ham          19
Man United        19
Fulham            19
Leeds             19
Bournemouth       19
Newcastle         19
Leicester         19
Everton           19
Man City          19
Brighton          19
Brentford         19
Chelsea           19
Southampton       19
Nott'm Forest     19
Wolves            19
Aston Villa       19
Crystal Palace    19
Name: count, dtype: int64

In [7]:
matches["Date"] = pd.to_datetime(matches["Date"], format="%d/%m/%Y")

In [8]:
matches["Unique_code"] = matches["HomeTeam"].astype("category").cat.codes.combine_first(matches["AwayTeam"].astype("category").cat.codes)

In [11]:
matches

,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
Div,,,,,,,,,,,,,,,,,,,,,
E0,2022-08-05,20:00,Crystal Palace,Arsenal,0,2,A,0,1,A,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
E0,2022-08-06,12:30,Fulham,Liverpool,2,2,D,1,0,H,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
E0,2022-08-06,15:00,Bournemouth,Aston Villa,2,0,H,1,0,H,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
E0,2022-08-06,15:00,Leeds,Wolves,2,1,H,1,1,D,...,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
E0,2022-08-06,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,D,...,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
E0,2023-05-28,16:30,Everton,Bournemouth,1,0,H,0,0,D,...,2.14,-1.00,2.02,1.77,2.10,1.81,2.17,1.92,2.03,1.83
E0,2023-05-28,16:30,Leeds,Tottenham,1,4,A,0,1,A,...,2.50,0.25,1.84,2.06,1.83,2.10,1.90,2.14,1.81,2.06
E0,2023-05-28,16:30,Leicester,West Ham,2,1,H,1,0,H,...,2.51,-0.25,1.75,2.05,1.85,2.06,1.90,2.16,1.82,2.04
E0,2023-05-28,16:30,Man United,Fulham,2,1,H,1,1,D,...,2.95,-1.25,1.98,1.92,1.98,1.93,2.07,1.98,1.97,1.89
E0,2023-05-28,16:30,Southampton,Liverpool,4,4,D,2,2,D,...,3.22,1.25,1.82,2.08,1.85,2.07,1.96,2.12,1.88,1.98

In [10]:
del matches["Unique_code"]

In [12]:
matches["home_code"] = matches["HomeTeam"].astype("category").cat.codes
matches["away_code"] = matches["AwayTeam"].astype("category").cat.codes

In [13]:
matches["hour"] = matches["Time"].str.replace(":.+", "",regex =True).astype("int")

In [91]:
matches["day_code"] = matches["Date"].dt.dayofweek

In [112]:
matches["home_win"] = np.where(matches["FTHG"] > matches["FTAG"], 1, 0)
matches["away_win"] = np.where(matches["FTAG"] > matches["FTHG"], 1, 0)

In [104]:
from sklearn.ensemble import RandomForestClassifier

In [105]:
rf = RandomForestClassifier(n_estimators=50, min_samples_split=10, random_state=1)

In [106]:
train = matches[matches["Date"] < '2023-01-01']

In [107]:
test = matches[matches["Date"] > '2023-01-01']

In [108]:
predictors = ["home_code", "away_code", "hour", "day_code"]

In [109]:
rf.fit(train[predictors], train["home_win"])
rf.fit(train[predictors], train["away_win"])

RandomForestClassifier(min_samples_split=10, n_estimators=50, random_state=1)

In [110]:
preds = rf.predict(test[predictors])

In [111]:
from sklearn.metrics import accuracy_score

In [113]:
error = accuracy_score(test["home_win"], preds)

In [114]:
error

0.48598130841121495

In [115]:
combined = pd.DataFrame(dict(actual=test["home_win"], predicted=preds))

In [116]:
pd.crosstab(index=combined["actual"], columns=combined["predicted"])

predicted   0   1
actual
0          92  15
1          95  12

In [117]:
from sklearn.metrics import precision_score

In [118]:
precision_score(test["home_win"], preds)

0.4444444444444444

In [119]:
error = accuracy_score(test["away_win"], preds)

In [120]:
error

0.6869158878504673

In [121]:
combined = pd.DataFrame(dict(actual=test["away_win"], predicted=preds))

In [122]:
pd.crosstab(index=combined["actual"], columns=combined["predicted"])

predicted    0   1
actual
0          138  18
1           49   9